<div class="upload">
    <form action="/upload" method = "POST" enctype="multipart/form-data">
        <div class="uploadContainer">
            <input type="file" name="image">    
        </div>

        <div class="uploadContainer">
            <input type="text" name="title" placeholder="Título de la Imagen">    
        </div>

        <div class="uploadContainer">
            <input type="text" name="description" placeholder="Descripción">    
        </div>

        <div class="uploadContainer">
            <button class="btn"> Publicar </button>    
        </div>
    </form>



</div>